# Configuração da API do CEP Aberto
# Obtenha seu token executando: node get-token.js
CEP_ABERTO_TOKEN=a2269bf32d2c540db6bdc60c5e8b6d8d

# Configurações da aplicação
NODE_ENV=development
PORT=3001

# Configurações de Cache (opcional)
CACHE_TTL=3600